.footer > div {
  margin-top: 10em;
  /* padding: 5em 2em; */
}

.footer {
  /* border-radius: 40px;
    background: #FFFFFF;     
    background: -webkit-linear-gradient(to left, #2980B9, #6DD5FA, #FFFFFF);
    background: linear-gradient(to left, #2980B9, #6DD5FA, #FFFFFF); */
}

.footer-header div {
  /* font-family: 'Limelight', cursive; */
  font-family: 'Abril Fatface', cursive;
  font-family: 'Sacramento', cursive;
  font-weight: 900;
  font-size: 1.3em;
}

.copyrightDiv {
  font-size: 1.5em;
}

.footer-logo {
  width: 37em;
}

.w-30{
  width: 30% !important;
}

.star{
  animation: starMovement 2s infinite ease-in-out;
}

.star-1{
  animation-duration: 2s;
}

.star-3{
  animation-duration: 2.5s;
}

.star-2{
  animation-duration: 3s;
}

@keyframes starMovement {
  50%{
    transform: translate(0, -12px);
  }
}

.footer-social {
  font-size: 0.3em;
}

.footer-social-link{
  transition: all 0.2s ease-in;
}

.footer-social-link:hover{
  transform: translate(0, -10px);
}